
#questRanks {
    grid-row: 3;
   
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.xpBox{
    grid-row: 2;
    width: 100%;
    background-color: grey;
    max-height: 40px;
}
.skill{
    text-align: right;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.xp{
    width: 50%;
    background-color: green;
}
