#mrunameHeader{
    display: block;
    text-align: left;
    
}
.centeringtext{
    text-align: center !important;
}
#mainContactBody {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px;
}