* {
    margin: 0;
    padding: 0;
  
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;     /* Center items horizontally */
    justify-content: top;  /* Center items vertically */
    padding: 20px;
    background-image: url(../Resources/ia4k1lbontrb1.png);
    background-position: cover;
    /* Image created by https://www.reddit.com/r/inkarnate/comments/16y2ato/quest_board_wip/ */
}

.quests-in-progress,
.quests-completed {
    width: 75vh;  /* Set a width for both sections */
    margin: 10px;  /* Vertical spacing between sections */
    color: white;
    background-color: #2b2b2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.quests-completed {
    align-items: center;
}
h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

ul {
    list-style-type: none;
    padding-left: 20px;

}
li {
    position: relative;  /* This allows the image to be positioned inside the li */
    font-size: 16px;
    margin-bottom: 8px;
    list-style-type: square;
    max-width: 350px;
    align-items: flex-end;
    height: auto;
}
li img {
/*     position: absolute; */
/*     right: 30;  /* Pushes the image to the right side of the li  */
/*     top: 50%;  /* Vertically centers the image  */
/*     transform: translateY(-70%);  /* Adjusts the centering  */
    width: 30px;  /* Adjust image size as needed */
    height: 30px;
}

@media screen and (min-width: 800px) {
    .container {
        flex-direction: row;
        align-items: center;     /* Center items horizontally */

    }

}
