@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&display=swap');
#mrunameHeader{
    display: block;
    text-align: left;
    
}
textarea{
    font-family: "Pixelify sans";
}
input{
    font-family: "Pixelify sans";
}
input::placeholder{
    font-family: "Pixelify sans";
}
.centeringtext{
    text-align: center !important;
}
#mainContactBody {
    border: 1px solid #e0e0e0;
    padding: 10px;
    margin: 10px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Pixelify Sans', sans-serif;
    background-color: #f0f0f0;
    color: black;
    background-image: url("../Resources/idyllic_countryside_cottages_pixelart_by_midgptjourney_dfvdfzd-414w-2x.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}


h1, h2, h3 {
    text-align: center;
}
h1{
    color: #000;
}
.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0px;
}



.mainContent {
    background-color: rgba(0, 0, 0, 0.8); 
    padding: 30px;
    border-radius: 15px;
    color: #fff;
    margin: 50px auto;
    max-width: 800px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 5px;
    font-weight: bold;
}

input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 2px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
}

input[type="text"],
input[type="email"],
input[type="tel"] {
    font-size: 1rem;
}

textarea {
    resize: vertical;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col-md-6, .col-md-10, .col-md-3 {
    flex: 1;
}

.col-md-6 {
    flex-basis: calc(50% - 20px);
}

.col-md-10 {
    flex-basis: calc(80% - 20px);
}

.col-md-3 {
    flex-basis: calc(30% - 20px);
}

h2, h3 {
    color: #fff;
    text-transform: uppercase;
}

