* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    justify-content: space-between;  /* Aligns items on the left and right */
    padding: 20px;
    height: 100vh;
}

.quests-in-progress,
.quests-completed {
    flex: 1;  /* Each div takes up equal space */
    margin: 20px;
    color: white;
    background-color: #2b2b2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quests-completed {
    margin-left: 20px;  /* Optional for spacing between columns */
    width: 50vh;
}

h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}

li {
    position: relative;  /* This allows the image to be positioned inside the li */
    padding-right: 10px; /* Add some padding to the right for the image */
    font-size: 16px;
    margin-bottom: 8px;
}
li img {
    position: absolute;
    right: 30;  /* Pushes the image to the right side of the li */
    top: 50%;  /* Vertically centers the image */
    transform: translateY(-70%);  /* Adjusts the centering */
    width: 30px;  /* Adjust image size as needed */
    height: 30px;
}

@media (min-width: 768px) {

    .quests-in-progress {
        position: fixed;
        padding: 20px;
        padding-top: 20px;
        left: 20px;
        max-width: 300px;
    }

    .quests-completed {
        position: fixed;
        top: 20px;
        right: 20px;
        padding-top: 20px;
        padding:20px;


        
       
    }
    
}

/* Adjustments for Tablets */
@media (min-width: 480px) and (max-width: 767px) {
    .container {
        flex-direction: column;
        align-items: center;
    }

    .quests {
        max-width: 90%;
        margin-bottom: 20px;
    }
}

/* Adjustments for Mobile Devices */
@media (max-width: 479px) {
    .quests {
        max-width: 100%;
        padding: 15px;
    }

    h2 {
        font-size: 18px;
    }

    li {
        font-size: 14px;
    }
   
}