
#questRanks {
    grid-row: 3;
    display: flex;
    position: absolute;
    margin-top: px;

    color: white;
    background-color: #2b2b2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    align-items: center;
}


.container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
