
#questRanks {
    grid-row: 3;
    width: 75vh;  /* Set a width for both sections */
    color: white;
    background-color: #2b2b2a;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center; /* Horizontal centering */
    background-color: #2b2b2a;
    height: 100%; /* Ensure the grid item fills the grid box height */
    width: 100%; /* Ensure the grid item fills the grid box width */
}

#avatarDisplay img {
    display: block;
    margin-left: auto;
    margin-right: auto;

}

#avatarDisplay {

}

.xpBox{
    grid-row: 2;
    width: 99%;
    background-color: grey;
    max-height: 40px;
    border-width: 10px;
    position: relative;
    overflow: hidden;
    margin-right:6px;
    border: 2px solid black;
    margin-bottom: 5px;
    margin: 8px;
    
}
.skill{
    text-align: right;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
.xp{
    width: 50%;
    background-color: green;
}

span{
    position:absolute;
    height: 100%;
    border-radius: 10px;
    transform: scale(0);
    animation: animate 1s cubic-bezier(1, 0, 0.5, 1);
    
}
@keyframes animate {
    100%{
        transform: scale(1);
    }
    
}

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


* { 
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    letter-spacing: -0.25px;
}

ol { padding-left: 50px; }
li { 
  color: white; 
  padding-left: 20px;
  margin-top: 24px;
  position: relative;
  font-size: 16px;
  line-height: 20px;
  
  &:before {
    content: '';
    display: block;
    height: 42px;
    width: 42px;
    border-radius: 50%;
    border: 2px solid #ddd;
    position: absolute; 
    top: -12px;
    left: -34px;
  }
}

strong { color: white; justify-content: left;}


.classGrid-green:before {
    border-color: green; 
    grid-column: 1;
}

.classGrid-red:before {
    border-color: red; 
    grid-column: 2;
}

.classGrid-yellow:before {
    border-color: yellow;
    grid-column: 1;
}

#classGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-row: 1fr 1fr;
    gap: 60px;
    
}

@media screen and (max-width:750px){
    #classGrid {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
}
