* {
    margin: 0;
    padding: 0;
  
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    flex-direction: column;  /* Stack items vertically */
    align-items: center;     /* Center items horizontally */
    justify-content: center;  /* Center items vertically */
    padding: 20px;
}

.quests-in-progress,
.quests-completed {
    width: 75vh;  /* Set a width for both sections */
    margin: 10px;  /* Vertical spacing between sections */
    color: white;
    background-color: #2b2b2a;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.quests-completed {
    align-items: center;
}
h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

ul {
    list-style-type: none;
}
li {
    position: relative;  /* This allows the image to be positioned inside the li */
    padding-right: 10px; /* Add some padding to the right for the image */
    font-size: 16px;
    margin-bottom: 8px;
}
li img {
    position: absolute;
    right: 30;  /* Pushes the image to the right side of the li */
    top: 50%;  /* Vertically centers the image */
    transform: translateY(-70%);  /* Adjusts the centering */
    width: 30px;  /* Adjust image size as needed */
    height: 30px;
}

